{% extends "/components/base3.html" %} {% set active_page = "trainer list" %} {% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card strpied-tabled-with-hover">
                    <div class="card-header ">
                        <h4 class="card-title">List of registered Trainers</h4>
                        <button data-toggle="modal" data-target="#Add" class="btn btn-info btn-fill pull-right">Add Trainer</button> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
                        <div class="alert alert-success alert-dismissable" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                <span aria-hidden="true">&times;</span>
                            </button> {{ message }}
                        </div>
                        {% endfor %} {% endif %} {% endwith %}
                        <p class="card-category">Trainers management</p>

                    </div>

                    <table id="TableBst" class="table table-responsive table-hover" style="width:100%">
                        <thead>
                            <tr>

                                <th>
                                    <center>Firstname</center>
                                </th>
                                <th>
                                    <center>Lastname</center>
                                </th>
                                <th>
                                    <center>Email</center>
                                </th>
                                <th>
                                    <center>Phone Number</center>
                                </th>
                                <th class="px-3">
                                    <center>Action</center>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for row in data %}
                            <tr>

                                <td>
                                    <center>{{row.firstname}}</center>
                                </td>
                                <td>
                                    <center>{{row.lastname}}</center>
                                </td>
                                <td>
                                    <center>{{row.email}}</center>
                                </td>
                                <td>
                                    <center>{{row.tel}}</center>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Action
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                            <a class="dropdown-item" data-toggle="modal" data-target="#Consulter{{row.id}}"><i class="fa fa-eye"></i>
                                                Consult User</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#Modifier{{row.id}}"><i class="fa fa-cog"></i> Modify
                                                User</a>
                                            <a class="dropdown-item" data-toggle="modal" data-target="#Supprimer{{row.id}}"><i class="fa fa-trash"
                                                    aria-hidden="true"></i> Delete User </a>
                                        </div>
                                        <!---->
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>

{% for row in data %}

<div class="modal modal-fix-top fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">


            <form action="/admin/trainer_list/create" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Trainer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label> Firstname:</label>
                        <input class='form-control' placeholder="Enter Firstname" name='firstname'>
                    </div>
                    <div class="form-group">
                        <label> Lastname:</label>
                        <input class='form-control' placeholder="Enter Lastname" name='lastname'>
                    </div>
                    <div class="form-group">
                        <label> Email: </label>
                        <input class='form-control' placeholder="Enter Email" name='email'>
                    </div>
                    <div class="form-group">
                        <label> Phone Number:</label>
                        <input class='form-control' placeholder="Enter Phone Number" name='tel'>
                    </div>
                    <div class="form-group">
                        <label> Password:</label>
                        <input type="password" class='form-control' placeholder="Enter Password" name='password'>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Add </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>

{% endfor %} {% for row in data %}
<div class="modal modal-fix-top fade" id="Consulter{{row.id}}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Trainer's info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">ID:</label>
                            <input type="text" class="form-control" value='{{row.id}}' readonly>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Firstname:</label>
                            <input type="text" class="form-control" value='{{row.firstname}}' readonly>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Lastname:</label>
                            <input type="text" class="form-control" value='{{row.lastname}}' readonly>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Email:</label>
                            <input type="text" class="form-control" value='{{row.email}}' readonly>
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Phone Number:</label>
                            <input type="text" class="form-control" value='{{row.tel}}' readonly>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Password:</label>
                            <input type="text" class="form-control" value='{{row.password}}' readonly>
                        </div>
                    </form>
                </form>
            </div>
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %} {% for row in data %}


<div class="modal modal-fix-top fade" id="Modifier{{row.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="/admin/trainer_list/update{{row.id}}" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Trainer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label> Firstname:</label>
                        <input class='form-control' value="{{row.firstname}}" name='firstnameEdit'>
                    </div>
                    <div class="form-group">
                        <label> Lastname:</label>
                        <input class='form-control' value="{{row.lastname}}" name='lastnameEdit'>
                    </div>
                    <div class="form-group">
                        <label> Email: </label>
                        <input class='form-control' value="{{row.email}}" name='emailEdit'>
                    </div>
                    <div class="form-group">
                        <label> Phone Number:</label>
                        <input class='form-control' value="{{row.tel}}" name='telEdit'>
                    </div>
                    <div class="form-group">
                        <label> Password:</label>
                        <input type="text" class='form-control' value="{{row.password}}" name='passwordEdit'>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Update</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endfor %} {% for row in data %}

<div class="modal" id="Supprimer{{row.id}}" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deleting a user profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete "{{row.firstname}} {{row.lastname}}" </p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a role="button" aria-pressed="true" href='/admin/trainer_list/{{row.id}}'>
                    <button type="submit" class="btn btn-danger">Yes</button>
                </a>
            </div>
        </div>
    </div>
</div>

{% endfor %}{% endblock %}