<div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">


            <form action="{{url_for('insert')}}" method="POST">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add participant</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label> Firstname:</label>
                        <input class='form-control' placeholder="Enter Firstname" name='firstname'>
                    </div>
                    <div class="form-group">
                        <label> Lastname:</label>
                        <input class='form-control' placeholder="Enter Lastname" name='lastname'>
                    </div>
                    <div class="form-group">
                        <label> Email: </label>
                        <input class='form-control' placeholder="Enter Email" name='email'>
                    </div>
                    <div class="form-group">
                        <label> Tel:</label>
                        <input class='form-control' placeholder="Enter Phone Number" name='tel'>
                    </div>
                    <div class="form-group">
                        <label> Password:</label>
                        <input type="password" class='form-control' placeholder="Enter Password" name='password'>
                    </div>
                    <div class="form-group">
                        <label> Expiration date:</label>
                        <input type="date" class='form-control' placeholder="YYYY-MM-DD" name='date_exp'>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Add </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>