{% set navigation_bar = [ ('home', 'home_admin', 'Home','nc-support-17'), ('trainer list', 'trainerlist', 'Trainer List','nc-badge'), ('participant list', 'participantlist', 'Participant List', 'nc-badge'),('training session list', 'traininglist', 'Training
Session List','nc-bullet-list-67'),('course list', 'courselist', 'Course List','nc-bulb-63 '), ('ticket list', 'alltickets', 'TicketList','nc-single-copy-04') ] -%}


<div class="sidebar" data-color=blue data-image="">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                <img src="../static/img/logo.jpg" width="200" height="50">
            </a>
        </div>
        <ul class="nav">

            {% for id,href,caption,icon in navigation_bar %}
            <li class="nav-item">
                <a class="nav-link" {% if id==active_page %} style="opacity: 1;
                background: rgba(255, 255, 255, 0.23);" {% endif %} href="{{ url_for(href) }} ">
                    <i class="nc-icon {{ icon }} "></i>
                    <p>{{ caption|e }} </p>
                </a>
            </li>
            {% endfor %}

        </ul>
    </div>
</div>